{%- if item.image -%}
    {%- assign baseUrl = 'https://i.ytimg.com/vi/' -%}
    {%- assign imagePath = item.image | append: '/hqdefault.jpg' -%}
    {%- assign imageUrl = baseUrl | append: imagePath -%}
{%- else -%}
    {%- assign imageUrl = item.imageUrl -%}
{%- endif -%}

<div class="col-span-6 flex flex-col gap-2 lg:col-span-3 xl:col-span-3">
    <a class="block brightness-90 hover:brightness-110" href="{{ item.link }}">
        <div class="block">
            <img
                src="{{ imageUrl }}"
                loading="lazy"
                alt="{{ item.title }}"
                class="mx-auto aspect-square w-full object-cover"
            >
        </div>

        <div class="text-md custom-bg-paper inline-block rotate-2 bg-red-950 px-3 py-1 font-bold uppercase">
            {{ item.title }}
        </div>
        <div class="flex justify-between gap-2">
            <div class="custom-bg-paper -rotate-2 bg-blue-950 px-3 py-1">{{ item.year }}</div>
            <div class="custom-bg-paper -rotate-3 bg-blue-950 px-3 py-1">{{ item.type }}</div>
        </div>
    </a>
</div>
