<a
    class="b-photo-item"
    href="https://media.publit.io/file/pinheadgunpowder1/{{ item.public_id }}.webp"
    data-pswp-width="{{ item.width }}"
    data-pswp-height="{{ item.height }}"
    style="--width: {{item.width }}; --height: {{ item.height }};"
>
    <img
        src="https://media.publit.io/file/h_150/pinheadgunpowder1/{{ item.public_id }}.webp"
        loading="lazy"
        width="150"
        height="150"
        alt="{{ item.public_id }}"
    >
</a>
