---
title: "Pinhead Gunpowder"
keywords: "Pinhead Gunpowder, Billie Joe Armstrong, Aaron Cometbus, Bill Schneider, Jason White, punk rock, pop punk, alternative rock, Lookout! Records, Adeline Records"
description: "Pinhead Gunpowder is an American punk rock band that formed in East Bay, California in 1990. The band currently consists of Aaron Cometbus, Bill Schneider, Billie Joe Armstrong, and Jason White."
ogUrl: https://pinheadgunpowder.onrender.com
---
<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Pinhead Gunpowder</title>
        <meta name="keywords" content="{{ keywords }}">
        <meta name="description" content="{{ description }}">
        <meta name="robots" content="index,follow">
        <!-- meta property="og:type" content="website" -->
        <meta property="og:title" content="{{ title }}">
        <meta property="og:description" content="{{ description }}">
        <meta property="og:site_name" content="{{ title }}">
        <meta property="og:url" content="{{ ogUrl }}">
        <meta property="og:image" content="/og_image.jpg">

        <meta name="twitter:card" content="summary_large_image">
        <meta property="twitter:domain" content="pinheadgunpowder.onrender.com">
        <meta property="twitter:url" content="{{ ogUrl }}">
        <meta name="twitter:title" content="{{title}}">
        <meta name="twitter:description" content="{{ description }}">
        <meta name="twitter:image" content="/og_image.jpg">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link
            href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap"
            rel="stylesheet"
        >
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/photoswipe.css">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="/favicon/favicon-96.png">
        <link rel="icon" type="image/png" sizes="192x192" href="/favicon/favicon-192.png">
        <link rel="shortcut icon" href="/favicon.ico?v=2">
        <!-- Apple Touch Icon -->
        <link rel="apple-touch-icon" sizes="180x180" href="/favicon/favicon-apple.png">
        <script src="/js/main.js" type="module"></script>
    </head>
    <body class="overflow-y-scroll bg-black text-white">
        <img
            src="https://media.publit.io/file/pinheadgunpowder1/new-001.webp"
            loading="lazy"
            alt=""
            class="pointer-events-none fixed top-0 left-0 z-1 hidden h-dvh w-dvw object-cover opacity-70 md:block"
        >
        {%- include 'header' -%}
        <div class="relative z-2 mx-auto bg-gray-800 p-5 lg:w-5xl">
            <main class="flex flex-col gap-8">
                {{ content }}
            </main>
        </div>
        {%- include 'footer' -%}
    </body>
</html>
